<link rel="stylesheet" href="./css/DisplayPage/EmpSearchPageStyle.css">
<div class="classDivEmpSearch">
    <div class="classDivEmpSearchHead">
        <h3>員工資料查詢</h3>
    </div>
    <div class="classDivEmpSearchCenter">
        <input type="button" id="idSearchAll" value="查詢所有員工">
        <label for="idSearchEmpNo">輸入員工編號:</label>
        <input class="classSearchEmpNo" type="number" id="idSearchEmpNo" name="idSearchEmpNo" step="1"  min="1000" max="9999">
        <input type="button" id="idSearchOne" value="查詢個別員工" disabled="true">
    </div>
    <div class="classDivEmpSearchBody" id="idOutputSearchMsg">
    </div>
</div>