<link rel="stylesheet" href="./css/DisplayPage/FirstPageStyle.css">
<div class="classDivFirstPage">
    <div class="classDivFirstPageHead">
        <h3>歡迎使用員工資訊系統</h3>
    </div>
    <div class="classDivFirstPageBody" id="idOutputSearchMsg">
        <img src="./img/FirstPic.png" width="50%"/>
    </div>
</div>